body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

#contenedor {
  background: white;
  margin-top: 10px;
  border-radius: 20px;
  padding: 20px;
}

.buscar-botons {
  margin: 10px 10px 10px 10px;
}

select {
  display: none;
}

#menu-busqueda {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input-busqueda {
  margin: 10px;
}

#lista-usuarios {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.boton-tabla {
  margin: 5px;
}

/* Estilos para dispositivos móviles */
@media (max-width: 600px) {


  #contenedor {
    padding: 10px;
    border-radius: 10px;
  }

  #menu-busqueda {
    flex-direction: column;
    align-items: flex-start;
  }

  .input-busqueda {
    width: 100%;
    margin: 5px 0;
  }

  .buscar-botons {
    width: 100%;
    margin-top: 10px;
    text-align: center;
  }

  #lista-usuarios {
    flex-direction: column;
    align-items: flex-start;
  }

  table {
    width: 100%;
    font-size: 14px;
    overflow-x: auto;
    display: block;
  }

  th, td {
    padding: 8px;
    text-align: left;
  }

  .boton-tabla {
    width: 100%;
    margin: 10px 0;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
