#contenedor {
    background: white;
    margin-top: 10px;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para mejor visibilidad */
}

#volver-titulo {
    display: flex;
    justify-content: left;
    align-items: center;
}

.formulario-crear {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dos columnas en pantallas grandes */
    grid-gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.formulario-crear-agregar{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Dos columnas en pantallas grandes */
    grid-gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;

    align-items: center;
}

.input-uniforme {
    width: 100%; /* Se asegura de que todos los inputs ocupen el 100% del espacio disponible */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.input-uniforme:focus {
    outline: none;
    border-color: #007bff; /* Cambia el borde al enfocar */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

#boton-enviar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #28a745;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #218838;
}

#campos-adicionales {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dos columnas en pantallas grandes */
    grid-gap: 20px;
    margin-top: 20px;
}

@media (max-width: 768px) {
    #formulario-crear {
        grid-template-columns: 1fr; /* Cambia a una sola columna en pantallas pequeñas */
        margin-top: 20px;
    }

    #campos-adicionales {
        grid-template-columns: 1fr; /* Ajuste similar para pantallas pequeñas */
        margin-top: 20px;
    }

    button {
        width: 100%; /* Asegura que el botón ocupe todo el ancho en pantallas móviles */
    }



}


.producto_carrito{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 5px;
    
}

.producto_carrito>md-icon-button {
    margin: 15px;
}

.producto_carrito>.input-uniforme{
    margin: 15px;
}
