.custom-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
}

.top-container {
    width: 100%;
    margin-bottom: 10px;
}

.bottom-container {
    width: 100%;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
}

.left-container{
    flex: 1;
    padding-right: 10px;
    box-sizing: border-box;
    padding-bottom: 10px;
}

.right-container {
    flex: 1;
    padding-left: 10px;
    box-sizing: border-box;
    padding-bottom: 10px;

}





.product-details-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    color: black;
    font-family: 'Roboto', sans-serif;
}


.header2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.product-name h2 {
    margin: 0;
    font-size: 28px;
    color: #000000; /* Color del nombre del producto */
}

.buttons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.cart-button {
    background-color: #e8def8;
    color: black;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.cart-button:hover {
    background-color: #d9c8f5;
}

.divider {
    border: 0;
    border-top: 1px solid #444;
    margin: 10px 0;
}

.pricing-stock {
    display: flex;
    justify-content: space-between;
}

.pricing-stock div {
    text-align: center;
    padding-top: 20px;
}

.pricing-stock h3 {
    margin: 5px 0 0;
    font-size: 20px;
}

.information-section {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.pharmacy-data, .other-info {
    width: 48%;
}

.info-cards {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card {
    background-color: #e8def8;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    border-radius: 10px;
}

.card p {
    margin: 0;
    color: #A0A0A0;
}

.card h5 {
    margin: 5px 0 0;
    font-size: 16px;
}

h4 {
    color: #000000; /* Color del título de sección */
    margin-bottom: 10px;
}


/* diseño móvil */
@media (max-width: 768px) {
    .custom-container {
        flex-direction: column;
        width: 100%;
        box-sizing: border-box;
    }
    
    .top-container {
        width: 100%;
        margin-bottom: 10px;
    }
    
    .bottom-container {
        flex-direction: column; /* Cambiar a columna para vista móvil */
        width: 100%;
    }
    
    .left-container, .right-container {
        width: 100%; /* Ancho completo para vista móvil */
        padding: 0 0 10px 0; /* Eliminar padding izquierdo y derecho */
        box-sizing: border-box;
    }

    .cart-button {
        padding: 12px 18px; /* Aumentar padding para objetivos táctiles más grandes */
        font-size: 18px; /* Aumentar ligeramente el tamaño de la fuente */
        border-radius: 8px;
    }

    .product-name h2 {
        font-size: 24px; /* Ajustar tamaño de fuente del nombre del producto para mejor legibilidad en móvil */
    }

    .pricing-stock h3 {
        font-size: 18px; /* Ajustar tamaño de fuente para información de precios y stock */
    }

    .header2 .buttons {
        gap: 10px; /* Aumentar espacio entre botones para mejor separación */
    }

    .divider {
        margin: 15px 0; /* Aumentar margen para mejor separación */
    }

    .card h5 {
        font-size: 14px; /* Ajustar tamaño de fuente en las tarjetas */
    }

    /* Ajustar tamaños de botones */
    .buttons > button {
        padding: 12px; /* Botones más grandes para móvil */
        font-size: 16px;
    }

    .pricing-stock {
        gap: 15px; /* Aumentar espacio entre secciones de precios y stock */
    }

    /* Aumentar margen para objetivos táctiles */
    .pharmacy-data, .other-info {
        margin-bottom: 20px;
    }
}

/* diseño tablet */
@media (max-width: 980px) {
    .product-details-container {
        padding: 15px;
        border-radius: 8px; /* Reducir ligeramente el radio del borde para un aspecto más elegante en tablets */
    }

    .header2 {
        flex-direction: column;
        gap: 15px; /* Más espacio para el diseño de tablet */
    }

    .buttons {
        gap: 15px;
    }

    .pricing-stock {
        flex-direction: column;
        gap: 15px;
    }

    .information-section {
        flex-direction: column;
        gap: 20px;
    }

    .pharmacy-data, .other-info {
        width: 100%;
    }

    .cart-button {
        padding: 12px 18px; /* Aumentar padding para vista de tablet */
        font-size: 18px;
    }

    .product-name h2 {
        font-size: 26px; /* Ligeramente más grande para tablet */
    }

    .pricing-stock h3 {
        font-size: 18px; /* Texto más grande para facilitar la lectura */
    }

    .card {
        padding: 20px; /* Más padding para pantallas de tablet más grandes */
    }

    .card h5 {
        font-size: 16px; /* Texto ligeramente más grande en las tarjetas */
    }
}
