
.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 8px;
}
    
.div1 {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
}

.div2 {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-column-start: 3;
}

.div3 {
    grid-row: span 2 / span 2;
    grid-column-start: 5;
}

.div4 {
    grid-column: span 3 / span 3;
    grid-row: span 3 / span 3;
    grid-row-start: 3;
}

.div5 {
    grid-column: span 2 / span 2;
    grid-row: span 3 / span 3;
    grid-column-start: 4;
    grid-row-start: 3;
}

.card-hover {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-hover:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
        
.grid-container {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    gap: 20px;
    width: 90%;
}

.ventas-chart {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.ingresos-chart {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}



@media screen and (max-width: 1200px) {
    #contenedor-graficos  {
        display: flex;
        width: 85%;
        flex-direction: column;
        margin: auto;
        margin-top: 20px;
    }
}
